# 작업 1유형

## Q1. 국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라

In [114]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv')
df

       학생    국어    수학    영어    과학
0    ID_0  63.0   NaN  79.0  84.0
1    ID_1  91.0  93.0   NaN  73.0
2    ID_2  59.0  55.0   NaN  56.0
3    ID_3  71.0  83.0  82.0   NaN
4    ID_4  62.0  72.0  56.0   NaN
5    ID_5   NaN  69.0  88.0  96.0
6    ID_6  83.0  92.0  69.0   NaN
7    ID_7  85.0   NaN  83.0  66.0
8    ID_8  96.0  75.0  86.0   NaN
9    ID_9  79.0  56.0  90.0   NaN
10  ID_10  68.0   NaN  69.0  62.0
11  ID_11  61.0  56.0   NaN  76.0
12  ID_12  86.0  96.0   NaN  87.0
13  ID_13   NaN  89.0  98.0  82.0
14  ID_14  79.0  55.0  69.0   NaN

In [115]:
df.describe() # 국어

              국어         수학         영어         과학
count  13.000000  12.000000  11.000000   9.000000
mean   75.615385  74.250000  79.000000  75.777778
std    12.379677  16.164636  12.107849  12.872235
min    59.000000  55.000000  56.000000  56.000000
25%    63.000000  56.000000  69.000000  66.000000
50%    79.000000  73.500000  82.000000  76.000000
75%    85.000000  89.750000  87.000000  84.000000
max    96.000000  96.000000  98.000000  96.000000

In [116]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_score = scaler.fit_transform(df[['국어']].dropna())
scaled_score.max()

1.713855688712825

## Q2. 32개의 변수간 상관관계를 확인 했을 때, var_11 컬럼과 상관계수의 절댓값이 가장 큰 변수를 찾아 해당 변수의 평균값을 구하여라

In [117]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-0.335864,-2.425701,0.452851,-1.381924,-0.425591,-1.461498,-0.417082,-0.944226,-0.351224,1.474046,...,1.715714,0.300227,0.439828,-0.094772,1.551995,3.308446,-0.391377,1.963829,-1.458605,-0.348652
1,0.803535,-0.699433,0.095579,0.788053,-0.267674,-0.370746,0.636034,-1.674584,-0.058465,-1.188973,...,-1.348879,-0.899480,-1.271886,0.333734,-0.373565,-2.091508,-0.715245,-0.688441,0.910927,-0.746899
2,-0.408470,-0.361105,-0.857278,0.338294,2.317821,-0.099928,0.557053,-0.847932,0.973471,0.101203,...,-0.388353,0.918553,-1.984422,0.385055,1.161414,-1.280253,2.831802,-0.953771,-0.228466,0.766254
3,-0.690599,0.777928,-0.079963,0.164086,1.721702,0.146761,-0.988636,0.885344,0.647053,0.674609,...,0.337074,-1.406224,-0.699728,-0.836068,-0.226315,1.260893,-0.781630,-0.219995,0.871289,0.017578
4,0.179819,-0.668267,0.381849,-0.884196,0.758519,-1.026190,0.986227,-1.663167,2.290551,0.564845,...,-0.700137,-0.153825,-1.835313,0.182131,0.890247,0.024791,1.489955,1.276357,-0.285144,1.066486

In [118]:
df.corr()['var_11'].abs().sort_values(ascending=False).index[1] # var_28

'var_28'

In [119]:
df['var_28'].mean()

-0.06289356546077182

## Q3. **var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 갯수를 구하라 **

In [120]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12
0,-0.401584,0.007198,-0.134910,-0.419514,-0.686331,-1.174550,-0.499150,-0.557510,0.357347,0.844209,0.082097,0.475098
1,1.064622,-0.531247,0.571185,-0.762243,-1.456043,0.355432,0.880010,0.523183,-0.141733,0.301472,0.840299,-0.045113
2,0.900195,-1.148496,-0.718437,-2.315266,-0.755505,0.630923,0.586027,0.086497,-0.381657,-1.602532,1.566340,-0.654105
3,1.199227,-0.114200,0.101536,-1.851971,-0.672844,0.796077,0.644246,-0.836296,-1.707074,0.376281,1.303967,1.228015
4,0.607393,1.675917,1.063759,-0.799493,-0.959568,-0.103007,-0.245984,-0.059492,0.293592,-0.517044,0.100772,0.403833

In [121]:
Q1 = df['var_6'].quantile(0.25)
Q3 = df['var_6'].quantile(0.75)
IQR = Q3-Q1
min_outline = Q1 - 1.5*IQR
max_outline = Q3 + 1.5*IQR
len(df['var_6'][(df['var_6']<min_outline) | (df['var_6']>max_outline)])

8

# 작업2유형

## Q1. 종속변수 :이용금액 예측, 평가지표 : rmse

In [122]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv')

display(train.head(2))
test.head(2)

        ID      연월  업종명 이용자구분    성별  이용자수   이용건수        이용금액
0  ID_5020  202201  여관업    법인  알수없음  7693  12105  3049021809
1  ID_5021  202201  여관업  제주도민    남성  3990   4291   294163241

        ID      연월         업종명 이용자구분    성별    이용자수    이용건수
0  ID_2575  201911     한식 음식점업  제주도민    여성  153363  163462
1  ID_6637  202305  건강보조식품 소매업    법인  알수없음     136     144

In [123]:
train.isna().sum(), test.isna().sum()

(ID       0
 연월       0
 업종명      0
 이용자구분    0
 성별       0
 이용자수     0
 이용건수     0
 이용금액     0
 dtype: int64,
 ID       0
 연월       0
 업종명      0
 이용자구분    0
 성별       0
 이용자수     0
 이용건수     0
 dtype: int64)

In [124]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245 entries, 0 to 2244
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2245 non-null   object
 1   연월      2245 non-null   int64
 2   업종명     2245 non-null   object
 3   이용자구분   2245 non-null   object
 4   성별      2245 non-null   object
 5   이용자수    2245 non-null   int64
 6   이용건수    2245 non-null   int64
 7   이용금액    2245 non-null   int64
dtypes: int64(4), object(4)
memory usage: 140.4+ KB

In [125]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5020 non-null   object
 1   연월      5020 non-null   int64
 2   업종명     5020 non-null   object
 3   이용자구분   5020 non-null   object
 4   성별      5020 non-null   object
 5   이용자수    5020 non-null   int64
 6   이용건수    5020 non-null   int64
dtypes: int64(3), object(4)
memory usage: 274.7+ KB

In [126]:
train.head()

        ID      연월          업종명 이용자구분    성별   이용자수   이용건수        이용금액
0  ID_5020  202201          여관업    법인  알수없음   7693  12105  3049021809
1  ID_5021  202201          여관업  제주도민    남성   3990   4291   294163241
2  ID_5022  202201          여관업  제주도민    여성   1495   1620   119277191
3  ID_5023  202201  전시 및 행사 대행업   내국인    남성  16299  18588   432933220
4  ID_5024  202201  전시 및 행사 대행업   내국인    여성  17350  19922   396316520

In [127]:
train.nunique()

ID       2245
연월         22
업종명        15
이용자구분       7
성별          3
이용자수     1839
이용건수     1856
이용금액     2244
dtype: int64

In [128]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245 entries, 0 to 2244
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2245 non-null   object
 1   연월      2245 non-null   int64
 2   업종명     2245 non-null   object
 3   이용자구분   2245 non-null   object
 4   성별      2245 non-null   object
 5   이용자수    2245 non-null   int64
 6   이용건수    2245 non-null   int64
 7   이용금액    2245 non-null   int64
dtypes: int64(4), object(4)
memory usage: 140.4+ KB

In [129]:
# type이 object은 변수 레이블 인코딩
# LightGBM은 피처 이름에 특수 문자가 포함된 경우 처리하지 못하고, 실행시간 1분미만으로 원핫인코딩 대신 레이블 인코딩 선택
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df = pd.concat([train,test],axis=0)
df = df.drop('ID',axis=1)
cols = df.select_dtypes(include="object").columns
cols
for col in cols:
    df[col] = encoder.fit_transform(df[col])
df.head()

       연월  업종명  이용자구분  성별   이용자수   이용건수          이용금액
0  202201    8      3   1   7693  12105  3.049022e+09
1  202201    8      5   0   3990   4291  2.941632e+08
2  202201    8      5   2   1495   1620  1.192772e+08
3  202201    9      1   0  16299  18588  4.329332e+08
4  202201    9      1   2  17350  19922  3.963165e+08

In [130]:
n_train = len(train)
train_df = df.iloc[:n_train]
test_df = df.iloc[n_train:]
test_df = test_df.drop('이용금액',axis=1)
test_df.head()

       연월  업종명  이용자구분  성별    이용자수    이용건수
0  201911   12      5   2  153363  163462
1  202305    0      3   1     136     144
2  202208    7      0   1      26      26
3  202010    5      0   1      83      87
4  202303    4      6   1      27      35

In [131]:
from sklearn.model_selection import train_test_split
y = train_df['이용금액']
X = train_df.drop('이용금액',axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [132]:
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

model_rf = RandomForestRegressor(random_state=42)
model_rf.fit(X_train, y_train)
y_pred_rf = model_rf.predict(X_test)
score_rf = mean_squared_error(y_test, y_pred_rf)
np.sqrt(score_rf)

204645542.23007306

In [133]:
from lightgbm import LGBMRegressor
model_lgbm = LGBMRegressor(random_state=42)
model_lgbm.fit(X_train, y_train)
y_pred_lgbm = model_lgbm.predict(X_test)
score_lgbm = mean_squared_error(y_test, y_pred_lgbm)
np.sqrt(score_lgbm)

219398705.21903247

In [134]:
y_pred = model_rf.predict(test_df)
y_pred

array([7.47518615e+09, 4.87946968e+07, 2.61024076e+06, ...,
       5.27776460e+09, 9.36554705e+08, 8.88352544e+08])

In [135]:
result = pd.DataFrame({
    "이용금액":y_pred
})

result

              이용금액
0     7.475186e+09
1     4.879470e+07
2     2.610241e+06
3     1.031211e+07
4     5.272512e+05
...            ...
5015  3.746385e+08
5016  1.527021e+08
5017  5.277765e+09
5018  9.365547e+08
5019  8.883525e+08

[5020 rows x 1 columns]

In [112]:
# result.to_csv('result.csv', index=False)

# 작업형3

## Q1. 선형관계 가장 큰 변수 찾아 상관계수를 구하여라

In [136]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

In [137]:
df.isna().sum()

Target    0
v1        0
v2        0
v3        0
v4        0
v5        0
v6        0
v7        0
v8        0
v9        0
v10       0
v11       0
v12       0
v13       0
v14       0
v15       0
v16       0
v17       0
v18       0
v19       0
v20       0
v21       0
dtype: int64

In [ ]:
df.corr()['Target'].abs().sort_values(ascending=False).head(2) # v3

Target    1.000000
v3        0.627025
Name: Target, dtype: float64

## Q2. Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  1000 non-null   float64
 1   v1      1000 non-null   float64
 2   v2      1000 non-null   float64
 3   v3      1000 non-null   float64
 4   v4      1000 non-null   float64
 5   v5      1000 non-null   float64
 6   v6      1000 non-null   float64
 7   v7      1000 non-null   float64
 8   v8      1000 non-null   float64
 9   v9      1000 non-null   float64
 10  v10     1000 non-null   float64
 11  v11     1000 non-null   float64
 12  v12     1000 non-null   float64
 13  v13     1000 non-null   float64
 14  v14     1000 non-null   float64
 15  v15     1000 non-null   float64
 16  v16     1000 non-null   float64
 17  v17     1000 non-null   float64
 18  v18     1000 non-null   float64
 19  v19     1000 non-null   float64
 20  v20     1000 non-null   float64
 21  v21     1000 non-null   float64
dtypes: float64(22)
memory usage: 172.0 KB

In [152]:
X = df.drop('Target',axis=1)
y  = df['Target']

In [158]:
import statsmodels.api as sm
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
model.params['v2']

6.440301364843064

## Q3. 회귀 계수들이 가지는 p값들 중 최대 값은?

In [160]:
model.pvalues.max()

0.9265545986906569

In [161]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 5.228e+04
Date:                Fri, 22 Nov 2024   Prob (F-statistic):               0.00
Time:                        10:07:19   Log-Likelihood:                -707.67
No. Observations:                1000   AIC:                             1459.
Df Residuals:                     978   BIC:                             1567.
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0118      0.016      0.739      0.460      -0.019       0.043
v1             5.5360      0.016    353.805      0.000       5.505       5.567
v2             6.4403      0.016    410.550      0.000       6.410       6.471
v3             9.6506      0.016    614.757      0.000       9.620       9.681
v4             8.9758      0.016    576.776      0.000       8.945       9.006
v5             1.9523      0.016    124.711      0.000       1.922       1.983
v6             0.0145      0.016      0.899      0.369      -0.017       0.046
v7            -0.0023      0.016     -0.140      0.888      -0.034       0.029
v8             0.0173      0.016      1.096      0.274      -0.014       0.048
v9            -0.0123      0.016     -0.781      0.435      -0.043       0.019
v10           -0.0019      0.016     -0.117      0.906      -0.033       0.030
v11            0.0171      0.016      1.099      0.272      -0.013       0.048
v12            0.0161      0.016      1.018      0.309      -0.015       0.047
v13           -0.0167      0.016     -1.058      0.290      -0.048       0.014
v14            0.0068      0.016      0.412      0.681      -0.026       0.039
v15           -0.0432      0.017     -2.605      0.009      -0.076      -0.011
v16            0.0117      0.016      0.749      0.454      -0.019       0.043
v17            0.0156      0.015      1.012      0.312      -0.015       0.046
v18            0.0100      0.016      0.628      0.530      -0.021       0.041
v19           -0.0174      0.016     -1.119      0.263      -0.048       0.013
v20            0.0098      0.015      0.637      0.524      -0.020       0.040
v21            0.0015      0.016      0.092      0.927      -0.030       0.033
==============================================================================
Omnibus:                        4.701   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.095   Jarque-Bera (JB):                4.745
Skew:                          -0.167   Prob(JB):                       0.0932
Kurtosis:                       2.955   Cond. No.                         1.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

##  4. 심장병 발병 예측 / 종속변수 target 1: 발병
train 데이터는 앞의 210개 행을, test데이터는 나머지 부분을 사용한다
train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

In [173]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [174]:
df.shape

(297, 14)

In [184]:
train = df.iloc[:210]
test = df.iloc[210:]
display(train.head(2))
test.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
210,66.0,0.0,4.0,178.0,228.0,1.0,0.0,165.0,1.0,1.0,2.0,2.0,7.0,1
211,52.0,1.0,4.0,112.0,230.0,0.0,0.0,160.0,0.0,0.0,1.0,1.0,3.0,1

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  target    297 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 32.6 KB

In [186]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [187]:
test['target']

210    1
211    1
212    0
213    0
214    0
      ..
292    1
293    1
294    1
295    1
296    1
Name: target, Length: 87, dtype: int64

In [188]:
import statsmodels.api as sm
X = train.drop('target', axis=1)
y = train['target']
X = sm.add_constant(X)
model = sm.Logit(y, X).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.320236
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                          Logit   Df Residuals:                      196
Method:                           MLE   Df Model:                           13
Date:                Fri, 22 Nov 2024   Pseudo R-squ.:                  0.5350
Time:                        10:19:33   Log-Likelihood:                -67.250
converged:                       True   LL-Null:                       -144.61
Covariance Type:            nonrobust   LLR p-value:                 2.308e-26
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
"""

In [189]:
import numpy as np
np.exp(model.params['age'])

0.9944442574640205

## Q5. train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라

In [194]:
model.llf

-67.24951955671358

In [195]:
-2 * model.llf

134.49903911342716

In [ ]:
# 다른방법
model2 = sm.GLM(y, X, family=sm.families.Binomial()).fit()
model2.deviance

134.49903911342716

In [ ]:
# 참고) Null Deviance와 Residual Deviance의 차이가 크면 모델이 데이터를 잘 설명하고 있음을 나타냄
#Null model은 독립 변수를 사용하지 않고 종속 변수의 평균값만으로 예측한 모델
null_model = sm.Logit(y, np.ones((len(y), 1))).fit()  # 상수항만 포함
null_deviance = -2 * null_model.llf
null_deviance

Optimization terminated successfully.
         Current function value: 0.688605
         Iterations 4

289.2141639736865

In [200]:
null_model.llf

-144.60708198684324

In [205]:
null_deviance - (-2 * model.llf)

154.71512486025932

## Q6. test 데이터의 독립변수로 target 예측 후 오류율을 구하여라

In [216]:
X_test = test.drop('target',axis=1)
y_test = test['target']
X_test = sm.add_constant(X_test)
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob>0.5).astype(int)
y_pred

210    1
211    0
212    0
213    0
214    0
      ..
292    1
293    0
294    1
295    1
296    0
Length: 87, dtype: int32

In [219]:
from sklearn.metrics import accuracy_score
1-accuracy_score(y_test, y_pred)

0.1954022988505747