# 작업형 1유형

## Q1. 각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라

In [299]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [300]:
df.shape

(2762, 9)

In [301]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
dtypes: int64(4), object(5)
memory usage: 194.3+ KB

In [302]:
df['신고일자'] = df['신고일자'].astype(str)
df['신고시각'] = df['신고시각'].astype(str)
df['출동일자'] = df['출동일자'].astype(str)
df['출동시각'] = df['출동시각'].astype(str)

In [303]:
df[df['신고일자'].str.len() != 8]
df[df['출동일자'].str.len() != 8]

Empty DataFrame
Columns: [구급보고서번호, 소방서명, 환자증상구분명1, 신고일자, 신고시각, 출동일자, 출동시각, 환자직업명, 사고발생장소]
Index: []

In [304]:
df[df['신고시각'].str.len() != 6]

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집
6,20211109102M02898,성북소방서,의식장애,20211024,91500,20211024,91725,무직,집
8,20211119508M00968,구로소방서,어지러움,20210228,91500,20210228,91900,무직,집
12,20211114107M01447,강남소방서,두통,20210811,50000,20210811,50521,주부,집
16,20211121105M01278,양천소방서,기타통증,20210804,72900,20210804,73224,무직,집
...,...,...,...,...,...,...,...,...,...
2739,20211112508M02853,은평소방서,토혈,20210618,2700,20210618,2900,직장인,집
2747,20211103109M01590,종로소방서,어지러움,20210614,60200,20210614,60300,무직,집
2750,20211118507M00878,강동소방서,의식장애,20210322,94900,20210322,95100,무직,집
2756,20211111102M05884,노원소방서,복통,20211016,40600,20211016,41024,직장인,집
2757,20211109507M05492,성북소방서,복통,20211102,34700,20211102,34800,직장인,집

In [305]:
df['신고시각'].str.len().value_counts()

신고시각
6    1900
5     787
4      55
3      18
1       2
Name: count, dtype: int64

In [306]:
import numpy as np
df['신고시각'] = df['신고시각'].str.zfill(6)
df['신고시각'].str.len().value_counts()

신고시각
6    2762
Name: count, dtype: int64

In [307]:
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,012100,20211019,12322,무직,집

In [308]:
df['출동시각'] = df['출동시각'].str.zfill(6)

In [309]:
df['신고시간'] = df['신고일자'] + df['신고시각']
df['출동시간'] = df['출동일자'] + df['출동시각']

In [310]:
df['신고시간'] = pd.to_datetime(df['신고시간'])
df['출동시간'] = pd.to_datetime(df['출동시간'])

In [311]:
df['소요시간'] = df['출동시간']-df['신고시간']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   object
 4   신고시각      2762 non-null   object
 5   출동일자      2762 non-null   object
 6   출동시각      2762 non-null   object
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
 9   신고시간      2762 non-null   datetime64[ns]
 10  출동시간      2762 non-null   datetime64[ns]
 11  소요시간      2762 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), object(9), timedelta64[ns](1)
memory usage: 259.1+ KB

In [312]:
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,신고시간,출동시간,소요시간
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,2021-03-30 10:48:00,2021-03-30 10:50:42,0 days 00:02:42
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집,2021-04-12 22:56:00,2021-04-12 22:58:27,0 days 00:02:27
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설,2021-03-03 19:41:00,2021-03-03 19:45:00,0 days 00:04:00
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,000331,유아,집,2021-12-25 23:54:00,2021-12-26 00:03:31,0 days 00:09:31
4,20211118102M05820,강동소방서,고열,20211019,012100,20211019,012322,무직,집,2021-10-19 01:21:00,2021-10-19 01:23:22,0 days 00:02:22

In [313]:
df['소요시간'] = df['소요시간'].dt.total_seconds()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   object
 4   신고시각      2762 non-null   object
 5   출동일자      2762 non-null   object
 6   출동시각      2762 non-null   object
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
 9   신고시간      2762 non-null   datetime64[ns]
 10  출동시간      2762 non-null   datetime64[ns]
 11  소요시간      2762 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(9)
memory usage: 259.1+ KB

In [314]:
df.head()

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,신고시간,출동시간,소요시간
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,2021-03-30 10:48:00,2021-03-30 10:50:42,162.0
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집,2021-04-12 22:56:00,2021-04-12 22:58:27,147.0
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설,2021-03-03 19:41:00,2021-03-03 19:45:00,240.0
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,000331,유아,집,2021-12-25 23:54:00,2021-12-26 00:03:31,571.0
4,20211118102M05820,강동소방서,고열,20211019,012100,20211019,012322,무직,집,2021-10-19 01:21:00,2021-10-19 01:23:22,142.0

In [315]:
df.groupby('소방서명',as_index=False).agg(mean=('소요시간','mean')).sort_values('mean').iloc[2].values

array(['종로소방서', 175.5], dtype=object)

## Q2. 학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라

In [316]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [317]:
target_df = df[df['학교세부유형']=="일반중학교"]
target_df

        학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계
230   동원중학교  서울  일반중학교         379        36
231   면목중학교  서울  일반중학교         462        42
232   봉화중학교  서울  일반중학교         256        31
233   성일중학교  서울  일반중학교         313        30
234   신현중학교  서울  일반중학교         683        52
...     ...  ..    ...         ...       ...
4955  위미중학교  제주  일반중학교          96        15
4956  중문중학교  제주  일반중학교         459        42
4957  표선중학교  제주  일반중학교         375        35
4958  효돈중학교  제주  일반중학교         137        18
4959  남주중학교  제주  일반중학교         351        24

[3260 rows x 5 columns]

In [318]:
target_df.groupby('시도',as_index=False).agg(n=('학교세부유형','count')).sort_values('n',ascending=False).iloc[1]['시도']

'서울'

In [319]:
filtered_df = target_df[target_df['시도']=="서울"]
filtered_df

         학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계
230    동원중학교  서울  일반중학교         379        36
231    면목중학교  서울  일반중학교         462        42
232    봉화중학교  서울  일반중학교         256        31
233    성일중학교  서울  일반중학교         313        30
234    신현중학교  서울  일반중학교         683        52
..       ...  ..    ...         ...       ...
612  동구여자중학교  서울  일반중학교         298        29
613  성신여자중학교  서울  일반중학교         590        46
614  성암여자중학교  서울  일반중학교         403        32
615  창문여자중학교  서울  일반중학교         471        35
616  한성여자중학교  서울  일반중학교         374        32

[387 rows x 5 columns]

In [320]:
filtered_df['교원당_학생수'] = filtered_df['일반학급_학생수_계']/ filtered_df['교원수_총계_계']
filtered_df.sort_values('교원당_학생수', ascending=False).iloc[0]['교원수_총계_계']

C:\Users\yesol\AppData\Local\Temp\ipykernel_1136\3295818820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['교원당_학생수'] = filtered_df['일반학급_학생수_계']/ filtered_df['교원수_총계_계']

33

## Q3. **5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **

In [321]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [322]:
df.shape

(24, 6)

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄분류    24 non-null     object
 1   절도      24 non-null     int64
 2   사기      24 non-null     int64
 3   배임      24 non-null     int64
 4   방화      24 non-null     int64
 5   폭행      24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [324]:
df['범죄분류'] = pd.to_datetime(df['범죄분류'], format='%Y년_%m월')

In [325]:
df['분기'] = df['범죄분류'].dt.quarter

In [326]:
df['총범죄수'] = df['절도'] + df['사기'] + df['배임'] + df['방화'] + df['폭행']
df.head(2)

        범죄분류     절도     사기   배임   방화     폭행  분기   총범죄수
0 2018-01-01  13280  25318  656  143  12186   1  51583
1 2018-02-01  12504  19159  403  135  12087   1  44288

In [327]:
df['년도'] = df['범죄분류'].dt.year

In [328]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄분류    24 non-null     datetime64[ns]
 1   절도      24 non-null     int64
 2   사기      24 non-null     int64
 3   배임      24 non-null     int64
 4   방화      24 non-null     int64
 5   폭행      24 non-null     int64
 6   분기      24 non-null     int32
 7   총범죄수    24 non-null     int64
 8   년도      24 non-null     int32
dtypes: datetime64[ns](1), int32(2), int64(6)
memory usage: 1.6 KB

In [329]:
grouped_df = df.groupby(['년도','분기'],as_index=False).agg(sum_q=('총범죄수', 'sum'))
grouped_df['mean_q'] = grouped_df['sum_q']/3
grouped_df.sort_values('mean_q',ascending=False) # 2019년 2분기

     년도  분기   sum_q        mean_q
5  2019   2  175315  58438.333333
6  2019   3  175004  58334.666667
2  2018   3  166385  55461.666667
7  2019   4  160747  53582.333333
1  2018   2  160387  53462.333333
4  2019   1  159412  53137.333333
3  2018   4  151445  50481.666667
0  2018   1  149573  49857.666667

In [330]:
df[(df['년도'] == 2019) & (df['분기']==2)].sort_values('사기',ascending=False).head(1)['사기'].values

array([27766], dtype=int64)

In [331]:
df['분기2'] = [x+'_'+str(y) for x in ['2018','2019'] for y in range(1,5) for z in range(3)]
df.head()

        범죄분류     절도     사기   배임   방화     폭행  분기   총범죄수    년도     분기2
0 2018-01-01  13280  25318  656  143  12186   1  51583  2018  2018_1
1 2018-02-01  12504  19159  403  135  12087   1  44288  2018  2018_1
2 2018-03-01  14733  24509  471  148  13841   1  53702  2018  2018_1
3 2018-04-01  14781  23147  414  135  13973   2  52450  2018  2018_2
4 2018-05-01  15988  23584  451  127  14117   2  54267  2018  2018_2

In [332]:
max_ = df.groupby(['분기2'])['총범죄수'].mean().sort_values().index[-1] # '2019_02'
max_

'2019_2'

In [333]:
result = df[df.분기2 ==max_].사기.max()
print(result)

27766

# 작업 2유형

## Q1. 예측 변수 General_Health, test.csv에 대해 ID별로 General_Health 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 General_Health 두개만 존재해야함. 평가지표는 f1score

In [373]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

display(train.head(2))
test.head(2)

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.10,No,15.0,8.0,25.0,12.0
1,ID_26,5 or more years ago,No,No,Yes,No,No,No,No,Male,60-64,183.0,79.38,23.73,No,1.0,4.0,4.0,4.0

In [364]:
train.shape, test.shape

((11230, 20), (4813, 19))

In [365]:
pd.DataFrame({
    "n_unique":train.nunique(),
    "d_types":train.dtypes
})

                              n_unique  d_types
ID                               11230   object
General_Health                       3   object
Checkup                              5   object
Exercise                             2   object
Heart_Disease                        2   object
Skin_Cancer                          2   object
Other_Cancer                         2   object
Depression                           2   object
Diabetes                             4   object
Arthritis                            2   object
Sex                                  2   object
Age_Category                        13   object
Height_(cm)                         57  float64
Weight_(kg)                        304  float64
BMI                               1629  float64
Smoking_History                      2   object
Alcohol_Consumption                 30  float64
Fruit_Consumption                   49  float64
Green_Vegetables_Consumption        47  float64
FriedPotato_Consumption             37  float64

In [366]:
train['General_Health'].value_counts()

General_Health
Excellent    4286
Good         3990
Fair         2954
Name: count, dtype: int64

In [367]:
train['General_Health'].value_counts() / len(train)

General_Health
Excellent    0.381656
Good         0.355298
Fair         0.263045
Name: count, dtype: float64

In [368]:
(len(train[train['General_Health'] == "Excellent"])) / (len(train[train['General_Health'] == "Fair"]))

1.4509140148950574

In [369]:
sum(train.isna().sum()), sum(test.isna().sum())

(0, 0)

In [374]:
df = pd.concat([train,test],axis=0)
df

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0
2,ID_3079,Good,Within the past year,Yes,No,No,No,Yes,No,Yes,Female,65-69,170.0,65.77,22.71,Yes,12.0,30.0,2.0,0.0
3,ID_15958,Excellent,Within the past year,Yes,No,No,No,No,No,No,Female,40-44,163.0,56.70,21.46,No,24.0,60.0,16.0,3.0
4,ID_11047,Excellent,Within the past year,Yes,No,No,Yes,No,No,No,Male,55-59,185.0,95.25,27.71,Yes,28.0,30.0,30.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4808,ID_12991,NaN,Within the past year,Yes,No,No,No,No,No,No,Male,18-24,170.0,68.04,23.49,No,0.0,60.0,60.0,4.0
4809,ID_13295,NaN,5 or more years ago,No,No,No,No,No,No,No,Male,55-59,165.0,83.91,30.79,No,0.0,2.0,3.0,12.0
4810,ID_2428,NaN,Within the past year,No,No,No,No,Yes,No,No,Female,25-29,155.0,58.06,24.19,Yes,0.0,10.0,0.0,3.0
4811,ID_12719,NaN,Within the past year,Yes,No,No,No,No,No,Yes,Male,70-74,178.0,85.73,27.12,Yes,0.0,60.0,0.0,3.0
4812,ID_12691,NaN,Within the past 2 years,Yes,No,No,No,Yes,No,No,Male,18-24,170.0,72.57,25.06,Yes,20.0,7.0,30.0,6.0

In [375]:
from sklearn.preprocessing import LabelEncoder
encoders = {}
object_cols = df.select_dtypes(include="object").columns[1:]

for col in object_cols:
    encoder = LabelEncoder()
    df[col] = encoder.fit_transform(df[col])
    encoders[col] = encoder
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16043 entries, 0 to 4812
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            16043 non-null  object
 1   General_Health                16043 non-null  int32
 2   Checkup                       16043 non-null  int32
 3   Exercise                      16043 non-null  int32
 4   Heart_Disease                 16043 non-null  int32
 5   Skin_Cancer                   16043 non-null  int32
 6   Other_Cancer                  16043 non-null  int32
 7   Depression                    16043 non-null  int32
 8   Diabetes                      16043 non-null  int32
 9   Arthritis                     16043 non-null  int32
 10  Sex                           16043 non-null  int32
 11  Age_Category                  16043 non-null  int32
 12  Height_(cm)                   16043 non-null  float64
 13  Weight_(kg)                   16043 non-null  float64
 14  BMI                           16043 non-null  float64
 15  Smoking_History               16043 non-null  int32
 16  Alcohol_Consumption           16043 non-null  float64
 17  Fruit_Consumption             16043 non-null  float64
 18  Green_Vegetables_Consumption  16043 non-null  float64
 19  FriedPotato_Consumption       16043 non-null  float64
dtypes: float64(7), int32(12), object(1)
memory usage: 1.8+ MB

In [376]:
encoders

{'General_Health': LabelEncoder(),
 'Checkup': LabelEncoder(),
 'Exercise': LabelEncoder(),
 'Heart_Disease': LabelEncoder(),
 'Skin_Cancer': LabelEncoder(),
 'Other_Cancer': LabelEncoder(),
 'Depression': LabelEncoder(),
 'Diabetes': LabelEncoder(),
 'Arthritis': LabelEncoder(),
 'Sex': LabelEncoder(),
 'Age_Category': LabelEncoder(),
 'Smoking_History': LabelEncoder()}

In [377]:
n_train = len(train)
train_df = df.iloc[:n_train]
test_df = df.iloc[n_train:]
train_df.shape, test_df.shape

((11230, 20), (4813, 20))

In [378]:
from sklearn.model_selection import train_test_split
X = train_df.drop(['ID', 'General_Health'], axis=1)
y = train_df['General_Health']
X_test = test_df.drop(['ID', 'General_Health'], axis=1)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

In [379]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(random_state=42)
model_rf.fit(X_train, y_train)
y_pred_rf= model_rf.predict(X_valid)
y_pred_rf

array([2, 1, 2, ..., 2, 2, 0])

In [380]:
from sklearn.metrics import f1_score

score_rf = f1_score(y_valid, y_pred_rf, average='macro')
score_rf

0.5483058916161673

In [381]:
from lightgbm import LGBMClassifier
model_lgbm = LGBMClassifier(random_state=42)
model_lgbm.fit(X_train, y_train)
y_pred_lgbm = model_lgbm.predict(X_valid)
score_lgbm = f1_score(y_valid, y_pred_lgbm, average='macro')
score_lgbm

0.538177533948567

In [391]:
y_pred_encoded = model_rf.predict(X_test)
y_pred_encoded

array([0, 0, 0, ..., 1, 1, 0])

In [392]:
y_pred= encoders['General_Health'].inverse_transform(y_pred_encoded)
y_pred

array(['Excellent', 'Excellent', 'Excellent', ..., 'Fair', 'Fair',
       'Excellent'], dtype=object)

In [393]:
result = pd.DataFrame({
    "ID": test['ID'],
    "General_Health": y_pred
})
result

            ID General_Health
0     ID_14547      Excellent
1        ID_26      Excellent
2     ID_14103      Excellent
3     ID_10946      Excellent
4      ID_1572      Excellent
...        ...            ...
4808  ID_12991      Excellent
4809  ID_13295           Good
4810   ID_2428           Fair
4811  ID_12719           Fair
4812  ID_12691      Excellent

[4813 rows x 2 columns]

In [394]:
result.to_csv('result2.csv', index=False)

df2 = pd.read_csv('result2.csv')
df2

            ID General_Health
0     ID_14547      Excellent
1        ID_26      Excellent
2     ID_14103      Excellent
3     ID_10946      Excellent
4      ID_1572      Excellent
...        ...            ...
4808  ID_12991      Excellent
4809  ID_13295           Good
4810   ID_2428           Fair
4811  ID_12719           Fair
4812  ID_12691      Excellent

[4813 rows x 2 columns]

# 작업형 3유형

## Q1. A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.
남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

In [ ]:
# 남성/여성, 흡연/비흡연 => 두 범주형 변수가 서로 관련이 있는지 => 독립성 검정
# 카이제곱 독립성 검정 => 빈도표 작성

In [397]:
# 관찰 빈도표
import numpy as np
observed = np.array([[600*0.2,600*0.8],[550*0.26,550*0.74]])
observed

array([[120., 480.],
       [143., 407.]])

In [ ]:
# 카이제곱 검정 실행
import scipy.stats as stats

chi2, p, dof, expected = stats.chi2_contingency(observed)
print(chi2)
print(p) # 0.05 이하로 기각, 두 변수는 독립적이지 않다
print(dof)
print(expected)

5.521247671393307
0.018786854975740765
1
[[137.2173913 462.7826087]
 [125.7826087 424.2173913]]

## Q2. age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라

In [399]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [400]:
df.shape

(333, 3)

In [401]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          333 non-null    int64
 1   Cholesterol  333 non-null    float64
 2   weight       333 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 7.9 KB

In [ ]:
import statsmodels.api as sm

X = df.drop('weight',axis=1)
y = df['weight']

X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()
results.summary() # 	-0.0361

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Sat, 23 Nov 2024   Prob (F-statistic):           0.000608
Time:                        23:32:14   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [403]:
results.params['age']

-0.0361016691438651

## Q3. age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라

In [ ]:
# 귀무가설 : Age가 고정되어 있을때, weight와 Cholestreol은 선형 관계가 없다.
# 대립가설 : Age가 고정되어 있을때, weight와 Cholestreol은 선형 관계가 있다.

In [ ]:
results.pvalues['Cholesterol'] < 0.05 # 귀무가설 기각, 선형 관계가 있다.

True

## Q4. age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.

In [411]:
X.head(1)

   const  age  Cholesterol
0    1.0   65         69.0

In [415]:
X_test = pd.DataFrame({
    "const":[1],
    "age": [55],
    "Cholesterol": [72.6]
})
X_test

   const  age  Cholesterol
0      1   55         72.6

In [416]:
results.predict(X_test)

0    78.85771
dtype: float64

In [ ]:
# 굳이 데이터 프레임으로 만들지 않고 list로 넣어도 된다.
results.predict([1,55,72.6])

array([78.85771011])